// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import { APIPromise } from '../core/api-promise';
import { buildHeaders } from '../internal/headers';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

export class Aircraftstatusremark extends APIResource {
  /**
   * Service operation to update a single Aircraft Status Remark record. A specific
   * role is required to perform this service operation. Please contact the UDL team
   * for assistance.
   */
  update(pathID: string, body: AircraftstatusremarkUpdateParams, options?: RequestOptions): APIPromise<void> {
    return this._client.put(path`/udl/aircraftstatusremark/${pathID}`, {
      body,
      ...options,
      headers: buildHeaders([{ Accept: '*/*' }, options?.headers]),
    });
  }

  /**
   * Service operation to delete a single Aircraft Status Remark record specified by
   * the passed ID path parameter. A specific role is required to perform this
   * service operation. Please contact the UDL team for assistance.
   */
  delete(id: string, options?: RequestOptions): APIPromise<void> {
    return this._client.delete(path`/udl/aircraftstatusremark/${id}`, {
      ...options,
      headers: buildHeaders([{ Accept: '*/*' }, options?.headers]),
    });
  }
}

export interface AircraftstatusremarkUpdateParams {
  /**
   * Classification marking of the data in IC/CAPCO Portion-marked format.
   */
  classificationMarking: string;

  /**
   * Indicator of whether the data is EXERCISE, REAL, SIMULATED, or TEST data:
   *
   * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
   * may include both real and simulated data.
   *
   * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
   * events, and analysis.
   *
   * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
   * datasets.
   *
   * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
   * requirements, and for validating technical, functional, and performance
   * characteristics.
   */
  dataMode: 'REAL' | 'TEST' | 'SIMULATED' | 'EXERCISE';

  /**
   * The ID of the Aircraft Status to which this remark applies.
   */
  idAircraftStatus: string;

  /**
   * Source of the data.
   */
  source: string;

  /**
   * The text of the remark.
   */
  text: string;

  /**
   * Unique identifier of the record, auto-generated by the system if not provided on
   * create operations.
   */
  body_id?: string;

  /**
   * Unique identifier of the Aircraft Status Remark record from the originating
   * system.
   */
  altRmkId?: string;

  /**
   * Time the remark was last updated in the originating system in ISO 8601 UTC
   * format with millisecond precision.
   */
  lastUpdatedAt?: string;

  /**
   * The name or ID of the external user that updated this remark in the originating
   * system.
   */
  lastUpdatedBy?: string;

  /**
   * The name of the remark.
   */
  name?: string;

  /**
   * Originating system or organization which produced the data, if different from
   * the source. The origin may be different than the source if the source was a
   * mediating system which forwarded the data on behalf of the origin system. If
   * null, the source may be assumed to be the origin.
   */
  origin?: string;

  /**
   * Time the remark was created in the originating system in ISO 8601 UTC format
   * with millisecond precision.
   */
  timestamp?: string;
}

export declare namespace Aircraftstatusremark {
  export { type AircraftstatusremarkUpdateParams as AircraftstatusremarkUpdateParams };
}
