// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../resource';
import * as Core from '../core';
import * as AirfieldstatusAPI from './airfieldstatus/airfieldstatus';

export class AirfieldStatus extends APIResource {
  /**
   * Service operation to get a single airfield status record by its unique ID passed
   * as a path parameter.
   */
  retrieve(id: string, options?: Core.RequestOptions): Core.APIPromise<AirfieldstatusAPI.AirfieldstatusFull> {
    return this._client.get(`/udl/airfieldstatus/${id}`, options);
  }

  /**
   * Service operation to update a single airfield status record. A specific role is
   * required to perform this service operation. Please contact the UDL team for
   * assistance.
   */
  update(
    pathId: string,
    body: AirfieldStatusUpdateParams,
    options?: Core.RequestOptions,
  ): Core.APIPromise<void> {
    return this._client.put(`/udl/airfieldstatus/${pathId}`, {
      body,
      ...options,
      headers: { Accept: '*/*', ...options?.headers },
    });
  }

  /**
   * Service operation to delete a Status object specified by the passed ID path
   * parameter. A specific role is required to perform this service operation. Please
   * contact the UDL team for assistance.
   */
  delete(id: string, options?: Core.RequestOptions): Core.APIPromise<void> {
    return this._client.delete(`/udl/airfieldstatus/${id}`, {
      ...options,
      headers: { Accept: '*/*', ...options?.headers },
    });
  }

  /**
   * Service operation to dynamically query data and only return specified
   * columns/fields. Requested columns are specified by the 'columns' query parameter
   * and should be a comma separated list of valid fields for the specified data
   * type. classificationMarking is always returned. See the queryhelp operation
   * (/udl/<datatype>/queryhelp) for more details on valid/required query parameter
   * information. An example URI: /udl/elset/tuple?columns=satNo,period&epoch=>now-5
   * hours would return the satNo and period of elsets with an epoch greater than 5
   * hours ago.
   */
  tuple(
    query: AirfieldStatusTupleParams,
    options?: Core.RequestOptions,
  ): Core.APIPromise<AirfieldStatusTupleResponse> {
    return this._client.get('/udl/airfieldstatus/tuple', { query, ...options });
  }
}

export type AirfieldStatusTupleResponse = Array<AirfieldstatusAPI.AirfieldstatusFull>;

export interface AirfieldStatusUpdateParams {
  /**
   * Classification marking of the data in IC/CAPCO Portion-marked format.
   */
  classificationMarking: string;

  /**
   * Indicator of whether the data is EXERCISE, REAL, SIMULATED, or TEST data:
   *
   * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
   * may include both real and simulated data.
   *
   * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
   * events, and analysis.
   *
   * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
   * datasets.
   *
   * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
   * requirements, and for validating technical, functional, and performance
   * characteristics.
   */
  dataMode: 'REAL' | 'TEST' | 'SIMULATED' | 'EXERCISE';

  /**
   * Unique identifier of the Airfield for which this status is referencing.
   */
  idAirfield: string;

  /**
   * Source of the data.
   */
  source: string;

  /**
   * Unique identifier of the record, auto-generated by the system.
   */
  body_id?: string;

  /**
   * Alternate airfield identifier provided by the source.
   */
  altAirfieldId?: string;

  /**
   * The category of aircraft rescue and fire fighting (ARFF) services that are
   * currently available at the airfield. Entries should include the code (FAA or
   * ICAO) and the category.
   */
  arffCat?: string;

  /**
   * Maximum on ground (MOG) number of high-reach/wide-body cargo aircraft that can
   * be serviced simultaneously based on spacing and manpower at the time of status.
   */
  cargoMOG?: number;

  /**
   * Maximum on ground (MOG) number of fleet aircraft that can be serviced
   * simultaneously based on spacing and manpower at the time of status.
   */
  fleetServiceMOG?: number;

  /**
   * Maximum on ground (MOG) number of aircraft that can be simultaneously refueled
   * based on spacing and manpower at the time of status.
   */
  fuelMOG?: number;

  /**
   * Array of quantities for each fuel type at the airfield, in kilograms. The values
   * in this array must correspond to the position index in fuelTypes. This array
   * must be the same length as fuelTypes.
   */
  fuelQtys?: Array<number>;

  /**
   * Array of fuel types available at the airfield. This array must be the same
   * length as fuelQtys.
   */
  fuelTypes?: Array<string>;

  /**
   * The expected time to receive ground support equipment (e.g. power units, air
   * units, cables, hoses, etc.), in minutes.
   */
  gseTime?: number;

  /**
   * The level of medical support and capabilities available at the airfield.
   */
  medCap?: string;

  /**
   * Description of the current status of the airfield.
   */
  message?: string;

  /**
   * Array of quantities for each material handling equipment types at the airfield.
   * The values in this array must correspond to the position index in mheTypes. This
   * array must be the same length as mheTypes.
   */
  mheQtys?: Array<number>;

  /**
   * Array of material handling equipment types at the airfield. This array must be
   * the same length as mheQtys.
   */
  mheTypes?: Array<string>;

  /**
   * Maximum on ground (MOG) number of aircraft that can be simultaneously ground
   * handled for standard maintenance based on spacing and manpower at the time of
   * status.
   */
  mxMOG?: number;

  /**
   * Maximum on ground (MOG) number of parking narrow-body aircraft based on spacing
   * and manpower at the time of status.
   */
  narrowParkingMOG?: number;

  /**
   * Maximum on ground (MOG) number of working narrow-body aircraft based on spacing
   * and manpower at the time of status.
   */
  narrowWorkingMOG?: number;

  /**
   * The number of aircraft that are currently on ground (COG) at the airfield.
   */
  numCOG?: number;

  /**
   * Maximum on ground (MOG) number of aircraft due to items not directly related to
   * the airfield infrastructure or aircraft servicing capability based on spacing
   * and manpower at the time of status.
   */
  operatingMOG?: number;

  /**
   * Originating system or organization which produced the data, if different from
   * the source. The origin may be different than the source if the source was a
   * mediating system which forwarded the data on behalf of the origin system. If
   * null, the source may be assumed to be the origin.
   */
  origin?: string;

  /**
   * Maximum on ground (MOG) number of high-reach/wide-body passenger aircraft that
   * can be serviced simultaneously based on spacing and manpower at the time of
   * status.
   */
  passengerServiceMOG?: number;

  /**
   * The primary frequency which the airfield is currently operating, in megahertz.
   */
  priFreq?: number;

  /**
   * The number or ID of primary runway at the airfield.
   */
  priRwyNum?: string;

  /**
   * The primary runway condition reading value used for determining runway braking
   * action, from 0 to 26. A value of 0 indicates braking action is poor or
   * non-existent, where a value of 26 indicates braking action is good.
   */
  rwyCondReading?: number;

  /**
   * The primary runway friction factor which is dependent on the surface friction
   * between the tires of the aircraft and the runway surface, from 0 to 100. A lower
   * number indicates less friction and less braking response.
   */
  rwyFrictionFactor?: number;

  /**
   * Array of markings currently on the primary runway.
   */
  rwyMarkings?: Array<string>;

  /**
   * Array of slot types that an airfield requires a particular aircraft provide in
   * order to consume a slot at this location.
   */
  slotTypesReq?: Array<string>;

  /**
   * Maximum on ground (MOG) number of parking wide-body aircraft based on spacing
   * and manpower at the time of status.
   */
  wideParkingMOG?: number;

  /**
   * Maximum on ground (MOG) number of working wide-body aircraft based on spacing
   * and manpower at the time of status.
   */
  wideWorkingMOG?: number;
}

export interface AirfieldStatusTupleParams {
  /**
   * Comma-separated list of valid field names for this data type to be returned in
   * the response. Only the fields specified will be returned as well as the
   * classification marking of the data, if applicable. See the ‘queryhelp’ operation
   * for a complete list of possible fields.
   */
  columns: string;
}

export declare namespace AirfieldStatus {
  export {
    type AirfieldStatusTupleResponse as AirfieldStatusTupleResponse,
    type AirfieldStatusUpdateParams as AirfieldStatusUpdateParams,
    type AirfieldStatusTupleParams as AirfieldStatusTupleParams,
  };
}
