// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../resource';
import * as Core from '../core';
import * as DriftHistoryAPI from './onorbit/drift-history';

export class DriftHistories extends APIResource {
  /**
   * Service operation to get a single DriftHistory record by its unique ID passed as
   * a path parameter. DriftHistory represents historical drift rates for GEO Onorbit
   * objects resulting from updates to OnorbitDetails driftRate values.
   */
  retrieve(
    params: DriftHistoryRetrieveParams,
    options?: Core.RequestOptions,
  ): Core.APIPromise<DriftHistoryAPI.DrifthistoryFull> {
    const { path_id, body_id } = params;
    return this._client.get(`/udl/drifthistory/${path_id}`, options);
  }
}

/**
 * Historical drift rates for GEO Onorbit objects resulting from updates to
 * OnorbitDetails driftRate values.
 */
export interface DriftHistory {
  /**
   * Classification marking of the data in IC/CAPCO Portion-marked format.
   */
  classificationMarking: string;

  /**
   * Indicator of whether the data is EXERCISE, REAL, SIMULATED, or TEST data:
   *
   * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
   * may include both real and simulated data.
   *
   * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
   * events, and analysis.
   *
   * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
   * datasets.
   *
   * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
   * requirements, and for validating technical, functional, and performance
   * characteristics.
   */
  dataMode: string;

  /**
   * Source of the data.
   */
  source: string;

  /**
   * Unique identifier of the record, auto-generated by the system.
   */
  id?: string;

  /**
   * Application user who created the row in the database, auto-populated by the
   * system.
   */
  createdBy?: string;

  /**
   * GEO drift rate, if applicable in degrees per day.
   */
  driftRate?: number;

  /**
   * Time the drift rate was replaced with another value and no longer the current
   * value.
   */
  effectiveUntil?: string;

  /**
   * UUID of the parent Onorbit record.
   */
  idOnOrbit?: string;

  /**
   * Originating system or organization which produced the data, if different from
   * the source. The origin may be different than the source if the source was a
   * mediating system which forwarded the data on behalf of the origin system. If
   * null, the source may be assumed to be the origin.
   */
  origin?: string;
}

export interface DriftHistoryRetrieveParams {
  /**
   * Path param:
   */
  path_id: string;

  /**
   * Body param: The ID of the DriftHistory to find.
   */
  body_id: string;
}

export declare namespace DriftHistories {
  export { type DriftHistory as DriftHistory, type DriftHistoryRetrieveParams as DriftHistoryRetrieveParams };
}
