// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../resource';
import * as Core from '../core';

export class EngineDetails extends APIResource {
  /**
   * Service operation to take a single EngineDetails as a POST body and ingest into
   * the database. EngineDetails are launch vehicle engine details and performance
   * characteristics/limits compiled by a particular source. A launch vehicle engine
   * may have several details records from multiple sources. A specific role is
   * required to perform this service operation. Please contact the UDL team for
   * assistance.
   */
  create(body: EngineDetailCreateParams, options?: Core.RequestOptions): Core.APIPromise<void> {
    return this._client.post('/udl/enginedetails', {
      body,
      ...options,
      headers: { Accept: '*/*', ...options?.headers },
    });
  }

  /**
   * Service operation to get a single EngineDetails record by its unique ID passed
   * as a path parameter. EngineDetails are launch vehicle engine details and
   * performance characteristics/limits compiled by a particular source. A launch
   * vehicle engine may have several details records from multiple sources.
   */
  retrieve(id: string, options?: Core.RequestOptions): Core.APIPromise<EngineDetailsFull> {
    return this._client.get(`/udl/enginedetails/${id}`, options);
  }

  /**
   * Service operation to update a single EngineDetails. EngineDetails are launch
   * vehicle engine details and performance characteristics/limits compiled by a
   * particular source. A launch vehicle engine may have several details records from
   * multiple sources. A specific role is required to perform this service operation.
   * Please contact the UDL team for assistance.
   */
  update(params: EngineDetailUpdateParams, options?: Core.RequestOptions): Core.APIPromise<void> {
    const { path_id, body_id, ...body } = params;
    return this._client.put(`/udl/enginedetails/${path_id}`, {
      body: { id: body_id, ...body },
      ...options,
      headers: { Accept: '*/*', ...options?.headers },
    });
  }

  /**
   * Service operation to delete a EngineDetails object specified by the passed ID
   * path parameter. EngineDetails are launch vehicle engine details and performance
   * characteristics/limits compiled by a particular source. A launch vehicle engine
   * may have several details records from multiple sources. A specific role is
   * required to perform this service operation. Please contact the UDL team for
   * assistance.
   */
  delete(id: string, options?: Core.RequestOptions): Core.APIPromise<void> {
    return this._client.delete(`/udl/enginedetails/${id}`, {
      ...options,
      headers: { Accept: '*/*', ...options?.headers },
    });
  }
}

/**
 * Known launch vehicle engine details and performance characteristics and limits
 * compiled by a particular source. A launch vehicle engine may have several
 * details records from multiple sources.
 */
export interface EngineDetailsFull {
  /**
   * Classification marking of the data in IC/CAPCO Portion-marked format.
   */
  classificationMarking: string;

  /**
   * Indicator of whether the data is EXERCISE, REAL, SIMULATED, or TEST data:
   *
   * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
   * may include both real and simulated data.
   *
   * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
   * events, and analysis.
   *
   * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
   * datasets.
   *
   * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
   * requirements, and for validating technical, functional, and performance
   * characteristics.
   */
  dataMode: 'REAL' | 'TEST' | 'SIMULATED' | 'EXERCISE';

  /**
   * Identifier of the parent engine record.
   */
  idEngine: string;

  /**
   * Source of the data.
   */
  source: string;

  /**
   * Unique identifier of the record, auto-generated by the system.
   */
  id?: string;

  /**
   * Launch engine maximum burn time in seconds.
   */
  burnTime?: number;

  /**
   * Engine chamber pressure in bars.
   */
  chamberPressure?: number;

  /**
   * Engine characteristic type (e.g. Electric, Mono-propellant, Bi-propellant,
   * etc.).
   */
  characteristicType?: string;

  /**
   * Time the row was created in the database, auto-populated by the system.
   */
  createdAt?: string;

  /**
   * Application user who created the row in the database, auto-populated by the
   * system.
   */
  createdBy?: string;

  /**
   * Engine cycle type (e.g. Electrostatic Ion, Pressure Fed, Hall, Catalytic
   * Decomposition, etc.).
   */
  cycleType?: string;

  /**
   * Engine type or family.
   */
  family?: string;

  /**
   * Organization ID of the engine manufacturer.
   */
  manufacturerOrgId?: string;

  /**
   * Engine maximum number of firings.
   */
  maxFirings?: number;

  /**
   * Notes/Description of the engine.
   */
  notes?: string;

  /**
   * Engine nozzle expansion ratio.
   */
  nozzleExpansionRatio?: number;

  /**
   * Originating system or organization which produced the data, if different from
   * the source. The origin may be different than the source if the source was a
   * mediating system which forwarded the data on behalf of the origin system. If
   * null, the source may be assumed to be the origin.
   */
  origin?: string;

  /**
   * The originating source network on which this record was created, auto-populated
   * by the system.
   */
  origNetwork?: string;

  /**
   * Oxidizer type (e.g. Nitrogen Tetroxide, Liquid Oxygen, etc).
   */
  oxidizer?: string;

  /**
   * Propellant/fuel type of the engine (e.g. Liquid Hydrogen, Kerosene, Aerozine,
   * etc).
   */
  propellant?: string;

  /**
   * Engine maximum thrust at sea level in Kilo-Newtons.
   */
  seaLevelThrust?: number;

  /**
   * Launch engine specific impulse in seconds.
   */
  specificImpulse?: number;

  /**
   * Optional array of provider/source specific tags for this data, where each
   * element is no longer than 32 characters, used for implementing data owner
   * conditional access controls to restrict access to the data. Should be left null
   * by data providers unless conditional access controls are coordinated with the
   * UDL team.
   */
  tags?: Array<string>;

  /**
   * Time the row was last updated in the database, auto-populated by the system.
   */
  updatedAt?: string;

  /**
   * Application user who updated the row in the database, auto-populated by the
   * system.
   */
  updatedBy?: string;

  /**
   * Engine maximum thrust in a vacuum in Kilo-Newtons.
   */
  vacuumThrust?: number;
}

export interface EngineDetailCreateParams {
  /**
   * Classification marking of the data in IC/CAPCO Portion-marked format.
   */
  classificationMarking: string;

  /**
   * Indicator of whether the data is EXERCISE, REAL, SIMULATED, or TEST data:
   *
   * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
   * may include both real and simulated data.
   *
   * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
   * events, and analysis.
   *
   * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
   * datasets.
   *
   * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
   * requirements, and for validating technical, functional, and performance
   * characteristics.
   */
  dataMode: 'REAL' | 'TEST' | 'SIMULATED' | 'EXERCISE';

  /**
   * Identifier of the parent engine record.
   */
  idEngine: string;

  /**
   * Source of the data.
   */
  source: string;

  /**
   * Unique identifier of the record, auto-generated by the system.
   */
  id?: string;

  /**
   * Launch engine maximum burn time in seconds.
   */
  burnTime?: number;

  /**
   * Engine chamber pressure in bars.
   */
  chamberPressure?: number;

  /**
   * Engine characteristic type (e.g. Electric, Mono-propellant, Bi-propellant,
   * etc.).
   */
  characteristicType?: string;

  /**
   * Engine cycle type (e.g. Electrostatic Ion, Pressure Fed, Hall, Catalytic
   * Decomposition, etc.).
   */
  cycleType?: string;

  /**
   * Engine type or family.
   */
  family?: string;

  /**
   * Organization ID of the engine manufacturer.
   */
  manufacturerOrgId?: string;

  /**
   * Engine maximum number of firings.
   */
  maxFirings?: number;

  /**
   * Notes/Description of the engine.
   */
  notes?: string;

  /**
   * Engine nozzle expansion ratio.
   */
  nozzleExpansionRatio?: number;

  /**
   * Originating system or organization which produced the data, if different from
   * the source. The origin may be different than the source if the source was a
   * mediating system which forwarded the data on behalf of the origin system. If
   * null, the source may be assumed to be the origin.
   */
  origin?: string;

  /**
   * Oxidizer type (e.g. Nitrogen Tetroxide, Liquid Oxygen, etc).
   */
  oxidizer?: string;

  /**
   * Propellant/fuel type of the engine (e.g. Liquid Hydrogen, Kerosene, Aerozine,
   * etc).
   */
  propellant?: string;

  /**
   * Engine maximum thrust at sea level in Kilo-Newtons.
   */
  seaLevelThrust?: number;

  /**
   * Launch engine specific impulse in seconds.
   */
  specificImpulse?: number;

  /**
   * Optional array of provider/source specific tags for this data, where each
   * element is no longer than 32 characters, used for implementing data owner
   * conditional access controls to restrict access to the data. Should be left null
   * by data providers unless conditional access controls are coordinated with the
   * UDL team.
   */
  tags?: Array<string>;

  /**
   * Engine maximum thrust in a vacuum in Kilo-Newtons.
   */
  vacuumThrust?: number;
}

export interface EngineDetailUpdateParams {
  /**
   * Path param: The ID of the EngineDetails to update.
   */
  path_id: string;

  /**
   * Body param: Classification marking of the data in IC/CAPCO Portion-marked
   * format.
   */
  classificationMarking: string;

  /**
   * Body param: Indicator of whether the data is EXERCISE, REAL, SIMULATED, or TEST
   * data:
   *
   * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
   * may include both real and simulated data.
   *
   * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
   * events, and analysis.
   *
   * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
   * datasets.
   *
   * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
   * requirements, and for validating technical, functional, and performance
   * characteristics.
   */
  dataMode: 'REAL' | 'TEST' | 'SIMULATED' | 'EXERCISE';

  /**
   * Body param: Identifier of the parent engine record.
   */
  idEngine: string;

  /**
   * Body param: Source of the data.
   */
  source: string;

  /**
   * Body param: Unique identifier of the record, auto-generated by the system.
   */
  body_id?: string;

  /**
   * Body param: Launch engine maximum burn time in seconds.
   */
  burnTime?: number;

  /**
   * Body param: Engine chamber pressure in bars.
   */
  chamberPressure?: number;

  /**
   * Body param: Engine characteristic type (e.g. Electric, Mono-propellant,
   * Bi-propellant, etc.).
   */
  characteristicType?: string;

  /**
   * Body param: Engine cycle type (e.g. Electrostatic Ion, Pressure Fed, Hall,
   * Catalytic Decomposition, etc.).
   */
  cycleType?: string;

  /**
   * Body param: Engine type or family.
   */
  family?: string;

  /**
   * Body param: Organization ID of the engine manufacturer.
   */
  manufacturerOrgId?: string;

  /**
   * Body param: Engine maximum number of firings.
   */
  maxFirings?: number;

  /**
   * Body param: Notes/Description of the engine.
   */
  notes?: string;

  /**
   * Body param: Engine nozzle expansion ratio.
   */
  nozzleExpansionRatio?: number;

  /**
   * Body param: Originating system or organization which produced the data, if
   * different from the source. The origin may be different than the source if the
   * source was a mediating system which forwarded the data on behalf of the origin
   * system. If null, the source may be assumed to be the origin.
   */
  origin?: string;

  /**
   * Body param: Oxidizer type (e.g. Nitrogen Tetroxide, Liquid Oxygen, etc).
   */
  oxidizer?: string;

  /**
   * Body param: Propellant/fuel type of the engine (e.g. Liquid Hydrogen, Kerosene,
   * Aerozine, etc).
   */
  propellant?: string;

  /**
   * Body param: Engine maximum thrust at sea level in Kilo-Newtons.
   */
  seaLevelThrust?: number;

  /**
   * Body param: Launch engine specific impulse in seconds.
   */
  specificImpulse?: number;

  /**
   * Body param: Optional array of provider/source specific tags for this data, where
   * each element is no longer than 32 characters, used for implementing data owner
   * conditional access controls to restrict access to the data. Should be left null
   * by data providers unless conditional access controls are coordinated with the
   * UDL team.
   */
  tags?: Array<string>;

  /**
   * Body param: Engine maximum thrust in a vacuum in Kilo-Newtons.
   */
  vacuumThrust?: number;
}

export declare namespace EngineDetails {
  export {
    type EngineDetailsFull as EngineDetailsFull,
    type EngineDetailCreateParams as EngineDetailCreateParams,
    type EngineDetailUpdateParams as EngineDetailUpdateParams,
  };
}
