// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../resource';
import * as Core from '../core';

export class Enginedetails extends APIResource {
  /**
   * Service operation to dynamically query data by a variety of query parameters not
   * specified in this API documentation. See the queryhelp operation
   * (/udl/&lt;datatype&gt;/queryhelp) for more details on valid/required query
   * parameter information.
   */
  list(options?: Core.RequestOptions): Core.APIPromise<EnginedetailListResponse> {
    return this._client.get('/udl/enginedetails', options);
  }
}

/**
 * Known launch vehicle engine details and performance characteristics and limits
 * compiled by a particular source. A launch vehicle engine may have several
 * details records from multiple sources.
 */
export interface EngineDetailsAbridged {
  /**
   * Classification marking of the data in IC/CAPCO Portion-marked format.
   */
  classificationMarking: string;

  /**
   * Indicator of whether the data is EXERCISE, REAL, SIMULATED, or TEST data:
   *
   * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
   * may include both real and simulated data.
   *
   * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
   * events, and analysis.
   *
   * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
   * datasets.
   *
   * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
   * requirements, and for validating technical, functional, and performance
   * characteristics.
   */
  dataMode: 'REAL' | 'TEST' | 'SIMULATED' | 'EXERCISE';

  /**
   * Identifier of the parent engine record.
   */
  idEngine: string;

  /**
   * Source of the data.
   */
  source: string;

  /**
   * Unique identifier of the record, auto-generated by the system.
   */
  id?: string;

  /**
   * Launch engine maximum burn time in seconds.
   */
  burnTime?: number;

  /**
   * Engine chamber pressure in bars.
   */
  chamberPressure?: number;

  /**
   * Engine characteristic type (e.g. Electric, Mono-propellant, Bi-propellant,
   * etc.).
   */
  characteristicType?: string;

  /**
   * Time the row was created in the database, auto-populated by the system.
   */
  createdAt?: string;

  /**
   * Application user who created the row in the database, auto-populated by the
   * system.
   */
  createdBy?: string;

  /**
   * Engine cycle type (e.g. Electrostatic Ion, Pressure Fed, Hall, Catalytic
   * Decomposition, etc.).
   */
  cycleType?: string;

  /**
   * Engine type or family.
   */
  family?: string;

  /**
   * Organization ID of the engine manufacturer.
   */
  manufacturerOrgId?: string;

  /**
   * Engine maximum number of firings.
   */
  maxFirings?: number;

  /**
   * Notes/Description of the engine.
   */
  notes?: string;

  /**
   * Engine nozzle expansion ratio.
   */
  nozzleExpansionRatio?: number;

  /**
   * Originating system or organization which produced the data, if different from
   * the source. The origin may be different than the source if the source was a
   * mediating system which forwarded the data on behalf of the origin system. If
   * null, the source may be assumed to be the origin.
   */
  origin?: string;

  /**
   * The originating source network on which this record was created, auto-populated
   * by the system.
   */
  origNetwork?: string;

  /**
   * Oxidizer type (e.g. Nitrogen Tetroxide, Liquid Oxygen, etc).
   */
  oxidizer?: string;

  /**
   * Propellant/fuel type of the engine (e.g. Liquid Hydrogen, Kerosene, Aerozine,
   * etc).
   */
  propellant?: string;

  /**
   * Engine maximum thrust at sea level in Kilo-Newtons.
   */
  seaLevelThrust?: number;

  /**
   * Launch engine specific impulse in seconds.
   */
  specificImpulse?: number;

  /**
   * Engine maximum thrust in a vacuum in Kilo-Newtons.
   */
  vacuumThrust?: number;
}

export type EnginedetailListResponse = Array<EngineDetailsAbridged>;

export declare namespace Enginedetails {
  export {
    type EngineDetailsAbridged as EngineDetailsAbridged,
    type EnginedetailListResponse as EnginedetailListResponse,
  };
}
