// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../resource';
import * as Core from '../core';
import * as EnginesAPI from './engines';

export class Onorbitthruster extends APIResource {
  /**
   * Service operation to take a single OnorbitThruster as a POST body and ingest
   * into the database. An OnorbitThruster is the association between an on-orbit
   * spacecraft's engine and a particular on-orbit spacecraft. An Engine type may be
   * associated with many different on-orbit spacecraft. A specific role is required
   * to perform this service operation. Please contact the UDL team for assistance.
   */
  create(body: OnorbitthrusterCreateParams, options?: Core.RequestOptions): Core.APIPromise<void> {
    return this._client.post('/udl/onorbitthruster', {
      body,
      ...options,
      headers: { Accept: '*/*', ...options?.headers },
    });
  }

  /**
   * Service operation to update a single OnorbitThruster. An OnorbitThruster is the
   * association between an on-orbit spacecraft's engine and a particular on-orbit
   * spacecraft. An Engine type may be associated with many different on-orbit
   * spacecraft. A specific role is required to perform this service operation.
   * Please contact the UDL team for assistance.
   */
  update(
    id1: string,
    body: OnorbitthrusterUpdateParams,
    options?: Core.RequestOptions,
  ): Core.APIPromise<void> {
    return this._client.put(`/udl/onorbitthruster/${id1}`, {
      body,
      ...options,
      headers: { Accept: '*/*', ...options?.headers },
    });
  }

  /**
   * Service operation to dynamically query data by a variety of query parameters not
   * specified in this API documentation. See the queryhelp operation
   * (/udl/&lt;datatype&gt;/queryhelp) for more details on valid/required query
   * parameter information.
   */
  list(options?: Core.RequestOptions): Core.APIPromise<OnorbitthrusterListResponse> {
    return this._client.get('/udl/onorbitthruster', options);
  }

  /**
   * Service operation to delete a OnorbitThruster object specified by the passed ID
   * path parameter. An OnorbitThruster is the association between an on-orbit
   * spacecraft's engine and a particular on-orbit spacecraft. An Engine type may be
   * associated with many different on-orbit spacecraft. A specific role is required
   * to perform this service operation. Please contact the UDL team for assistance.
   */
  delete(id: string, options?: Core.RequestOptions): Core.APIPromise<void> {
    return this._client.delete(`/udl/onorbitthruster/${id}`, {
      ...options,
      headers: { Accept: '*/*', ...options?.headers },
    });
  }

  /**
   * Service operation to get a single OnorbitThruster record by its unique ID passed
   * as a path parameter. An OnorbitThruster is the association between an on-orbit
   * spacecraft's engine and a particular on-orbit spacecraft. An Engine type may be
   * associated with many different on-orbit spacecraft.
   */
  get(id: string, options?: Core.RequestOptions): Core.APIPromise<OnorbitthrusterGetResponse> {
    return this._client.get(`/udl/onorbitthruster/${id}`, options);
  }
}

export type OnorbitthrusterListResponse = Array<OnorbitthrusterListResponse.OnorbitthrusterListResponseItem>;

export namespace OnorbitthrusterListResponse {
  export interface OnorbitthrusterListResponseItem {
    /**
     * Classification marking of the data in IC/CAPCO Portion-marked format.
     */
    classificationMarking: string;

    /**
     * Indicator of whether the data is EXERCISE, REAL, SIMULATED, or TEST data:
     *
     * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
     * may include both real and simulated data.
     *
     * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
     * events, and analysis.
     *
     * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
     * datasets.
     *
     * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
     * requirements, and for validating technical, functional, and performance
     * characteristics.
     */
    dataMode: 'REAL' | 'TEST' | 'SIMULATED' | 'EXERCISE';

    /**
     * ID of the Engine.
     */
    idEngine: string;

    /**
     * ID of the on-orbit object.
     */
    idOnOrbit: string;

    /**
     * Source of the data.
     */
    source: string;

    /**
     * Unique identifier of the record, auto-generated by the system.
     */
    id?: string;

    /**
     * Time the row was created in the database, auto-populated by the system.
     */
    createdAt?: string;

    /**
     * Application user who created the row in the database, auto-populated by the
     * system.
     */
    createdBy?: string;

    /**
     * Known launch vehicle engines and their performance characteristics and limits. A
     * launch vehicle has 1 to many engines per stage.
     */
    engine?: EnginesAPI.EngineAbridged;

    /**
     * Originating system or organization which produced the data, if different from
     * the source. The origin may be different than the source if the source was a
     * mediating system which forwarded the data on behalf of the origin system. If
     * null, the source may be assumed to be the origin.
     */
    origin?: string;

    /**
     * The originating source network on which this record was created, auto-populated
     * by the system.
     */
    origNetwork?: string;

    /**
     * The number of engines/thrusters on the spacecraft of the type identified by
     * idEngine.
     */
    quantity?: number;

    /**
     * The type of thruster associated with this record (e.g. LAE, Hydrazine REA,
     * etc.).
     */
    type?: string;
  }
}

/**
 * Read-only collection of thrusters (engines) on this on-orbit object.
 */
export interface OnorbitthrusterGetResponse {
  /**
   * Classification marking of the data in IC/CAPCO Portion-marked format.
   */
  classificationMarking: string;

  /**
   * Indicator of whether the data is EXERCISE, REAL, SIMULATED, or TEST data:
   *
   * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
   * may include both real and simulated data.
   *
   * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
   * events, and analysis.
   *
   * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
   * datasets.
   *
   * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
   * requirements, and for validating technical, functional, and performance
   * characteristics.
   */
  dataMode: 'REAL' | 'TEST' | 'SIMULATED' | 'EXERCISE';

  /**
   * ID of the Engine.
   */
  idEngine: string;

  /**
   * ID of the on-orbit object.
   */
  idOnOrbit: string;

  /**
   * Source of the data.
   */
  source: string;

  /**
   * Unique identifier of the record, auto-generated by the system.
   */
  id?: string;

  /**
   * Time the row was created in the database, auto-populated by the system.
   */
  createdAt?: string;

  /**
   * Application user who created the row in the database, auto-populated by the
   * system.
   */
  createdBy?: string;

  /**
   * Known launch vehicle engines and their performance characteristics and limits. A
   * launch vehicle has 1 to many engines per stage.
   */
  engine?: EnginesAPI.Engine;

  /**
   * Originating system or organization which produced the data, if different from
   * the source. The origin may be different than the source if the source was a
   * mediating system which forwarded the data on behalf of the origin system. If
   * null, the source may be assumed to be the origin.
   */
  origin?: string;

  /**
   * The originating source network on which this record was created, auto-populated
   * by the system.
   */
  origNetwork?: string;

  /**
   * The number of engines/thrusters on the spacecraft of the type identified by
   * idEngine.
   */
  quantity?: number;

  /**
   * The type of thruster associated with this record (e.g. LAE, Hydrazine REA,
   * etc.).
   */
  type?: string;

  /**
   * Time the row was last updated in the database, auto-populated by the system.
   */
  updatedAt?: string;

  /**
   * Application user who updated the row in the database, auto-populated by the
   * system.
   */
  updatedBy?: string;
}

export interface OnorbitthrusterCreateParams {
  /**
   * Classification marking of the data in IC/CAPCO Portion-marked format.
   */
  classificationMarking: string;

  /**
   * Indicator of whether the data is EXERCISE, REAL, SIMULATED, or TEST data:
   *
   * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
   * may include both real and simulated data.
   *
   * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
   * events, and analysis.
   *
   * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
   * datasets.
   *
   * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
   * requirements, and for validating technical, functional, and performance
   * characteristics.
   */
  dataMode: 'REAL' | 'TEST' | 'SIMULATED' | 'EXERCISE';

  /**
   * ID of the Engine.
   */
  idEngine: string;

  /**
   * ID of the on-orbit object.
   */
  idOnOrbit: string;

  /**
   * Source of the data.
   */
  source: string;

  /**
   * Unique identifier of the record, auto-generated by the system.
   */
  id?: string;

  /**
   * Originating system or organization which produced the data, if different from
   * the source. The origin may be different than the source if the source was a
   * mediating system which forwarded the data on behalf of the origin system. If
   * null, the source may be assumed to be the origin.
   */
  origin?: string;

  /**
   * The number of engines/thrusters on the spacecraft of the type identified by
   * idEngine.
   */
  quantity?: number;

  /**
   * The type of thruster associated with this record (e.g. LAE, Hydrazine REA,
   * etc.).
   */
  type?: string;
}

export interface OnorbitthrusterUpdateParams {
  /**
   * Classification marking of the data in IC/CAPCO Portion-marked format.
   */
  classificationMarking: string;

  /**
   * Indicator of whether the data is EXERCISE, REAL, SIMULATED, or TEST data:
   *
   * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
   * may include both real and simulated data.
   *
   * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
   * events, and analysis.
   *
   * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
   * datasets.
   *
   * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
   * requirements, and for validating technical, functional, and performance
   * characteristics.
   */
  dataMode: 'REAL' | 'TEST' | 'SIMULATED' | 'EXERCISE';

  /**
   * ID of the Engine.
   */
  idEngine: string;

  /**
   * ID of the on-orbit object.
   */
  idOnOrbit: string;

  /**
   * Source of the data.
   */
  source: string;

  /**
   * Unique identifier of the record, auto-generated by the system.
   */
  id?: string;

  /**
   * Originating system or organization which produced the data, if different from
   * the source. The origin may be different than the source if the source was a
   * mediating system which forwarded the data on behalf of the origin system. If
   * null, the source may be assumed to be the origin.
   */
  origin?: string;

  /**
   * The number of engines/thrusters on the spacecraft of the type identified by
   * idEngine.
   */
  quantity?: number;

  /**
   * The type of thruster associated with this record (e.g. LAE, Hydrazine REA,
   * etc.).
   */
  type?: string;
}

export declare namespace Onorbitthruster {
  export {
    type OnorbitthrusterListResponse as OnorbitthrusterListResponse,
    type OnorbitthrusterGetResponse as OnorbitthrusterGetResponse,
    type OnorbitthrusterCreateParams as OnorbitthrusterCreateParams,
    type OnorbitthrusterUpdateParams as OnorbitthrusterUpdateParams,
  };
}
