// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import { APIPromise } from '../core/api-promise';
import { OffsetPage, type OffsetPageParams, PagePromise } from '../core/pagination';
import { buildHeaders } from '../internal/headers';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

export class Sensortype extends APIResource {
  /**
   * Service operation to dynamically query data by a variety of query parameters not
   * specified in this API documentation. See the queryhelp operation
   * (/udl/&lt;datatype&gt;/queryhelp) for more details on valid/required query
   * parameter information.
   */
  list(
    query: SensortypeListParams | null | undefined = {},
    options?: RequestOptions,
  ): PagePromise<SensortypeListResponsesOffsetPage, SensortypeListResponse> {
    return this._client.getAPIList('/udl/sensortype', OffsetPage<SensortypeListResponse>, {
      query,
      ...options,
    });
  }

  /**
   * Service operation to get a single Sensortype record by its unique ID passed as a
   * path parameter.
   */
  get(
    id: number,
    query: SensortypeGetParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<SensortypeGetResponse> {
    return this._client.get(path`/udl/sensortype/${id}`, { query, ...options });
  }

  /**
   * Service operation to provide detailed information on available dynamic query
   * parameters for a particular data type.
   */
  queryhelp(options?: RequestOptions): APIPromise<void> {
    return this._client.get('/udl/sensortype/queryhelp', {
      ...options,
      headers: buildHeaders([{ Accept: '*/*' }, options?.headers]),
    });
  }
}

export type SensortypeListResponsesOffsetPage = OffsetPage<SensortypeListResponse>;

export interface SensortypeListResponse {
  /**
   * Unique identifier of the record, auto-generated by the system.
   */
  id?: number;

  /**
   * Time the row was created in the database, auto-populated by the system.
   */
  createdAt?: string;

  /**
   * Application user who created the row in the database, auto-populated by the
   * system.
   */
  createdBy?: string;

  /**
   * The originating source network on which this record was created, auto-populated
   * by the system.
   */
  origNetwork?: string;

  /**
   * The specific sensor type and/or surveillance capability of this sensor.
   */
  type?: string;
}

export interface SensortypeGetResponse {
  /**
   * Indicator of whether the data is EXERCISE, REAL, SIMULATED, or TEST data:
   *
   * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
   * may include both real and simulated data.
   *
   * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
   * events, and analysis.
   *
   * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
   * datasets.
   *
   * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
   * requirements, and for validating technical, functional, and performance
   * characteristics.
   */
  dataMode: 'REAL' | 'TEST' | 'SIMULATED' | 'EXERCISE';

  /**
   * Source of the data.
   */
  source: string;

  /**
   * Unique identifier of the record, auto-generated by the system.
   */
  id?: number;

  /**
   * Time the row was created in the database, auto-populated by the system.
   */
  createdAt?: string;

  /**
   * Application user who created the row in the database, auto-populated by the
   * system.
   */
  createdBy?: string;

  /**
   * The originating source network on which this record was created, auto-populated
   * by the system.
   */
  origNetwork?: string;

  /**
   * The specific sensor type and/or surveillance capability of this sensor.
   */
  type?: string;

  /**
   * Time the row was last updated in the database, auto-populated by the system.
   */
  updatedAt?: string;

  /**
   * Application user who updated the row in the database, auto-populated by the
   * system.
   */
  updatedBy?: string;
}

export interface SensortypeListParams extends OffsetPageParams {}

export interface SensortypeGetParams {
  firstResult?: number;

  maxResults?: number;
}

export declare namespace Sensortype {
  export {
    type SensortypeListResponse as SensortypeListResponse,
    type SensortypeGetResponse as SensortypeGetResponse,
    type SensortypeListResponsesOffsetPage as SensortypeListResponsesOffsetPage,
    type SensortypeListParams as SensortypeListParams,
    type SensortypeGetParams as SensortypeGetParams,
  };
}
