// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import { APIPromise } from '../core/api-promise';
import { OffsetPage, type OffsetPageParams, PagePromise } from '../core/pagination';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

export class SensorObservationType extends APIResource {
  list(
    query: SensorObservationTypeListParams | null | undefined = {},
    options?: RequestOptions,
  ): PagePromise<SensorObservationTypeListResponsesOffsetPage, SensorObservationTypeListResponse> {
    return this._client.getAPIList(
      '/udl/sensorobservationtype',
      OffsetPage<SensorObservationTypeListResponse>,
      { query, ...options },
    );
  }

  get(
    id: string,
    query: SensorObservationTypeGetParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<SensorObservationTypeGetResponse> {
    return this._client.get(path`/udl/sensorobservationtype/${id}`, { query, ...options });
  }
}

export type SensorObservationTypeListResponsesOffsetPage = OffsetPage<SensorObservationTypeListResponse>;

export interface SensorObservationTypeListResponse {
  /**
   * Unique identifier of the record, auto-generated by the system.
   */
  id?: string;

  /**
   * Time the row was created in the database, auto-populated by the system.
   */
  createdAt?: string;

  /**
   * Application user who created the row in the database, auto-populated by the
   * system.
   */
  createdBy?: string;

  /**
   * The originating source network on which this record was created, auto-populated
   * by the system.
   */
  origNetwork?: string;

  /**
   * The observation measurement type produced by a sensor.
   */
  type?: string;
}

export interface SensorObservationTypeGetResponse {
  /**
   * Indicator of whether the data is REAL, TEST, EXERCISE, or SIMULATED data:
   *
   * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
   * events, and analysis.
   *
   * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
   * requirements, and for validating technical, functional, and performance
   * characteristics.
   *
   * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
   * may include both real and simulated data.
   *
   * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
   * datasets.
   */
  dataMode: 'REAL' | 'TEST' | 'SIMULATED' | 'EXERCISE';

  /**
   * Source of the data.
   */
  source: string;

  /**
   * Unique identifier of the record, auto-generated by the system.
   */
  id?: string;

  /**
   * Time the row was created in the database, auto-populated by the system.
   */
  createdAt?: string;

  /**
   * Application user who created the row in the database, auto-populated by the
   * system.
   */
  createdBy?: string;

  /**
   * The originating source network on which this record was created, auto-populated
   * by the system.
   */
  origNetwork?: string;

  /**
   * The observation measurement type produced by a sensor.
   */
  type?: string;

  /**
   * Time the row was last updated in the database, auto-populated by the system.
   */
  updatedAt?: string;

  /**
   * Application user who updated the row in the database, auto-populated by the
   * system.
   */
  updatedBy?: string;
}

export interface SensorObservationTypeListParams extends OffsetPageParams {}

export interface SensorObservationTypeGetParams {
  firstResult?: number;

  maxResults?: number;
}

export declare namespace SensorObservationType {
  export {
    type SensorObservationTypeListResponse as SensorObservationTypeListResponse,
    type SensorObservationTypeGetResponse as SensorObservationTypeGetResponse,
    type SensorObservationTypeListResponsesOffsetPage as SensorObservationTypeListResponsesOffsetPage,
    type SensorObservationTypeListParams as SensorObservationTypeListParams,
    type SensorObservationTypeGetParams as SensorObservationTypeGetParams,
  };
}
