// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../resource';
import * as Core from '../core';

export class UdlSortieppr extends APIResource {
  /**
   * Service operation to take SortiePPR as a POST body and ingest into the database.
   * This operation is intended to be used for automated feeds into UDL. A specific
   * role is required to perform this service operation. Please contact the UDL team
   * for assistance.
   */
  create(body: UdlSortiepprCreateParams, options?: Core.RequestOptions): Core.APIPromise<void> {
    return this._client.post('/filedrop/udl-sortieppr', {
      body,
      ...options,
      headers: { Accept: '*/*', ...options?.headers },
    });
  }
}

export type UdlSortiepprCreateParams = Array<UdlSortiepprCreateParams.Body>;

export namespace UdlSortiepprCreateParams {
  /**
   * SortiePPR is a regulatory requirement where operators must obtain permissions to
   * full operational access to a runway, taxiway, or airport service.
   */
  export interface Body {
    /**
     * Classification marking of the data in IC/CAPCO Portion-marked format.
     */
    classificationMarking: string;

    /**
     * Indicator of whether the data is EXERCISE, REAL, SIMULATED, or TEST data:
     *
     * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
     * may include both real and simulated data.
     *
     * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
     * events, and analysis.
     *
     * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
     * datasets.
     *
     * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
     * requirements, and for validating technical, functional, and performance
     * characteristics.
     */
    dataMode: string;

    /**
     * Unique identifier of the Aircraft Sortie associated with this prior permission
     * required (PPR) record.
     */
    idSortie: string;

    /**
     * Source of the data.
     */
    source: string;

    /**
     * Unique identifier of the record, auto-generated by the system.
     */
    id?: string;

    /**
     * Time the row was created in the database, auto-populated by the system.
     */
    createdAt?: string;

    /**
     * Application user who created the row in the database, auto-populated by the
     * system.
     */
    createdBy?: string;

    /**
     * Time the prior permission required (PPR) valid window ends, in ISO 8601 UTC
     * format with millisecond precision.
     */
    endTime?: string;

    /**
     * Optional ID from external systems. This field has no meaning within UDL and is
     * provided as a convenience for systems that require tracking of an internal
     * system generated ID.
     */
    externalId?: string;

    /**
     * Identifier of the prior permission required (PPR) grantor.
     */
    grantor?: string;

    /**
     * The prior permission required (PPR) number issued by the airfield for a sortie.
     */
    number?: string;

    /**
     * Originating system or organization which produced the data, if different from
     * the source. The origin may be different than the source if the source was a
     * mediating system which forwarded the data on behalf of the origin system. If
     * null, the source may be assumed to be the origin.
     */
    origin?: string;

    /**
     * The originating source network on which this record was created, auto-populated
     * by the system.
     */
    origNetwork?: string;

    /**
     * Remarks concerning the prior permission required (PPR) for a sortie.
     */
    remarks?: string;

    /**
     * The username of the prior permission required (PPR) requestor.
     */
    requestor?: string;

    /**
     * The source data library from which this record was received. This could be a
     * remote or tactical UDL or another data library. If null, the record should be
     * assumed to have originated from the primary Enterprise UDL.
     */
    sourceDL?: string;

    /**
     * Time the prior permission required (PPR) valid window begins, in ISO 8601 UTC
     * format with millisecond precision.
     */
    startTime?: string;

    /**
     * Type of prior permission required (PPR) for a sortie (M - Military or C -
     * Civilian). Enum: [M, C].
     */
    type?: string;
  }
}

export declare namespace UdlSortieppr {
  export { type UdlSortiepprCreateParams as UdlSortiepprCreateParams };
}
