// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import * as Shared from '../shared';
import { APIPromise } from '../../core/api-promise';
import { OffsetPage, type OffsetPageParams, PagePromise } from '../../core/pagination';
import { buildHeaders } from '../../internal/headers';
import { RequestOptions } from '../../internal/request-options';

export class History extends APIResource {
  /**
   * Service operation to dynamically query historical data by a variety of query
   * parameters not specified in this API documentation. See the queryhelp operation
   * (/udl/&lt;datatype&gt;/queryhelp) for more details on valid/required query
   * parameter information.
   *
   * @example
   * ```ts
   * // Automatically fetches more pages as needed.
   * for await (const historyListResponse of client.onorbitassessment.history.list(
   *   { assmtTime: '2019-12-27T18:11:19.117Z' },
   * )) {
   *   // ...
   * }
   * ```
   */
  list(
    query: HistoryListParams,
    options?: RequestOptions,
  ): PagePromise<HistoryListResponsesOffsetPage, HistoryListResponse> {
    return this._client.getAPIList('/udl/onorbitassessment/history', OffsetPage<HistoryListResponse>, {
      query,
      ...options,
    });
  }

  /**
   * Service operation to dynamically query historical data by a variety of query
   * parameters not specified in this API documentation, then write that data to the
   * Secure Content Store. See the queryhelp operation
   * (/udl/&lt;datatype&gt;/queryhelp) for more details on valid/required query
   * parameter information.
   *
   * @example
   * ```ts
   * await client.onorbitassessment.history.aodr({
   *   assmtTime: '2019-12-27T18:11:19.117Z',
   * });
   * ```
   */
  aodr(query: HistoryAodrParams, options?: RequestOptions): APIPromise<void> {
    return this._client.get('/udl/onorbitassessment/history/aodr', {
      query,
      ...options,
      headers: buildHeaders([{ Accept: '*/*' }, options?.headers]),
    });
  }

  /**
   * Service operation to return the count of records satisfying the specified query
   * parameters. This operation is useful to determine how many records pass a
   * particular query criteria without retrieving large amounts of data. See the
   * queryhelp operation (/udl/&lt;datatype&gt;/queryhelp) for more details on
   * valid/required query parameter information.
   *
   * @example
   * ```ts
   * const response =
   *   await client.onorbitassessment.history.count({
   *     assmtTime: '2019-12-27T18:11:19.117Z',
   *   });
   * ```
   */
  count(query: HistoryCountParams, options?: RequestOptions): APIPromise<string> {
    return this._client.get('/udl/onorbitassessment/history/count', {
      query,
      ...options,
      headers: buildHeaders([{ Accept: 'text/plain' }, options?.headers]),
    });
  }
}

export type HistoryListResponsesOffsetPage = OffsetPage<HistoryListResponse>;

/**
 * Spacecraft characterization results from analysis of MASINT data. Supports
 * results of both the overall assessment of a particular spacecraft as well as of
 * individual signature packages.
 */
export interface HistoryListResponse {
  /**
   * The time of the assessment, in ISO 8601 UTC format with millisecond precision.
   */
  assmtTime: string;

  /**
   * Classification marking of the data in IC/CAPCO Portion-marked format.
   */
  classificationMarking: string;

  /**
   * Indicator of whether the data is REAL, TEST, EXERCISE, or SIMULATED data:
   *
   * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
   * events, and analysis.
   *
   * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
   * requirements, and for validating technical, functional, and performance
   * characteristics.
   *
   * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
   * may include both real and simulated data.
   *
   * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
   * datasets.
   */
  dataMode: 'REAL' | 'TEST' | 'SIMULATED' | 'EXERCISE';

  /**
   * Source of the data.
   */
  source: string;

  /**
   * Unique identifier of the record, auto-generated by the system.
   */
  id?: string;

  /**
   * The overall assessment of the on-orbit object. The assessment will vary
   * depending on the assessment level. If assmtLevel = SATELLITE, then expected
   * values include HEALTHY, NO DATA, UNHEALTHY, and UNKNOWN. If assmtLevel =
   * SIGNATURE, then expected values include ANOMALOUS, BAD, NOMINAL, and UNKNOWN.
   */
  assessment?: string;

  /**
   * Comments and details concerning this assessment.
   */
  assmtDetails?: string;

  /**
   * The level (SATELLITE, SIGNATURE) of this assessment.
   */
  assmtLevel?: string;

  /**
   * The rotational period, in seconds, determined in the assessment of the on-orbit
   * object.
   */
  assmtRotPeriod?: number;

  /**
   * The sub-type for this assessment. The sub-type provides an additional level of
   * specification when the assessment level = SIGNATURE, and will vary based on the
   * overall assessment. If assessment = ANOMALOUS, then expected values include
   * ACTIVITY OBSERVED, BAD CONFIGURATION, MANEUVERING, OTHER, POSSIBLE SAFE MODE,
   * UNSTABLE, and WRONG ATTITUDE. If assessment = BAD, then expected values include
   * BAD-MISSING STATE VECTOR, CORRUPT-NOISY, CROSS-TAG, DROPOUTS, INSUFFICIENT DATA,
   * INSUFFICIENT LOOK ANGLE, NO CROSSOVER, and SHORT. If assessment = NOMINAL, then
   * expected values include ACTIVITY OBSERVED, GRAVITY GRADIENT, HORIZON STABLE,
   * INERTIAL, MANEUVERING, SPIN STABLE, and STABLE. If assessment = UNKNOWN, then
   * expected values include NO COHORT, and OTHER.
   */
  assmtSubType?: string;

  /**
   * URL to an external location containing additional assessment information.
   */
  assmtURL?: string;

  /**
   * Flag indicating whether this assessment was auto-generated (true) or produced by
   * an analyst.
   */
  autoAssmt?: boolean;

  /**
   * URL to an external location containing the data that was used to make this
   * assessment.
   */
  collectionURL?: string;

  /**
   * Array of the affected spacecraft component(s) relevant to this assessment, if
   * non-nominal.
   */
  components?: Array<string>;

  /**
   * Time the row was created in the database, auto-populated by the system.
   */
  createdAt?: string;

  /**
   * Application user who created the row in the database, auto-populated by the
   * system.
   */
  createdBy?: string;

  /**
   * Unique identifier of the target satellite on-orbit object to which this
   * assessment applies. This ID can be used to obtain additional information on an
   * OnOrbit object using the 'get by ID' operation (e.g. /udl/onorbit/{id}). For
   * example, the OnOrbit with idOnOrbit = 25544 would be queried as
   * /udl/onorbit/25544.
   */
  idOnOrbit?: string;

  /**
   * Unique identifier of the sensor from which the signature data applied in this
   * assessment was collected. This ID can be used to obtain additional information
   * on a sensor using the 'get by ID' operation (e.g. /udl/sensor/{id}). For
   * example, the sensor with idSensor = abc would be queried as /udl/sensor/abc.
   */
  idSensor?: string;

  /**
   * The total duration, in hours, of the signature or set of signatures used to
   * create this assessment.
   */
  obDuration?: number;

  /**
   * The observation time, in ISO 8601 UTC format with millisecond precision. For
   * non-instantaneous collections, the observation time will correspond to the
   * earliest timestamp in the signature or signature set data.
   */
  obTime?: string;

  /**
   * Model object representing on-orbit objects or satellites in the system.
   */
  onOrbit?: Shared.OnorbitFull;

  /**
   * Originating system or organization which produced the data, if different from
   * the source. The origin may be different than the source if the source was a
   * mediating system which forwarded the data on behalf of the origin system. If
   * null, the source may be assumed to be the origin.
   */
  origin?: string;

  /**
   * The originating source network on which this record was created, auto-populated
   * by the system.
   */
  origNetwork?: string;

  /**
   * Optional identifier provided by the source to indicate the target on-orbit
   * object to which this assessment applies. This may be an internal identifier and
   * not necessarily map to a valid satellite number.
   */
  origObjectId?: string;

  /**
   * Optional identifier provided by the observation source to indicate the sensor
   * which produced this observation. This may be an internal identifier and not
   * necessarily a valid sensor ID.
   */
  origSensorId?: string;

  /**
   * Satellite/Catalog number of the target on-orbit object to which this assessment
   * applies.
   */
  satNo?: number;

  /**
   * The observation data type (LONG DWELL, NARROWBAND, PHOTOMETRIC POL, PHOTOMETRY,
   * RANGE PROFILER, WIDEBAND, etc.) contained in the signature. Applies when
   * assmtLevel = SIGNATURE.
   */
  sigDataType?: string;

  /**
   * The source data library from which this record was received. This could be a
   * remote or tactical UDL or another data library. If null, the record should be
   * assumed to have originated from the primary Enterprise UDL.
   */
  sourceDL?: string;

  /**
   * Array of UUIDs of the UDL data records that are related to this assessment. See
   * the associated 'srcTyps' array for the specific types of data, positionally
   * corresponding to the UUIDs in this array. The 'srcTyps' and 'srcIds' arrays must
   * match in size. See the corresponding srcTyps array element for the data type of
   * the UUID and use the appropriate API operation to retrieve that object.
   */
  srcIds?: Array<string>;

  /**
   * Array of UDL record types (DOA, ELSET, EO, ESID, GROUNDIMAGE, POI, MANEUVER,
   * MTI, RADAR, RF, SIGACT, SKYIMAGE, SV, TRACK, etc.) that are related to this
   * assessment. See the associated 'srcIds' array for the record UUIDs, positionally
   * corresponding to the record types in this array. The 'srcTyps' and 'srcIds'
   * arrays must match in size.
   */
  srcTyps?: Array<string>;

  /**
   * Optional array of provider/source specific tags for this data, where each
   * element is no longer than 32 characters, used for implementing data owner
   * conditional access controls to restrict access to the data. Should be left null
   * by data providers unless conditional access controls are coordinated with the
   * UDL team.
   */
  tags?: Array<string>;

  /**
   * Optional identifier to track a commercial or marketplace transaction executed to
   * produce this data.
   */
  transactionId?: string;
}

export type HistoryCountResponse = string;

export interface HistoryListParams extends OffsetPageParams {
  /**
   * The time of the assessment, in ISO 8601 UTC format with millisecond precision.
   * (YYYY-MM-DDTHH:MM:SS.sssZ)
   */
  assmtTime: string;

  /**
   * optional, fields for retrieval. When omitted, ALL fields are assumed. See the
   * queryhelp operation (/udl/&lt;datatype&gt;/queryhelp) for more details on valid
   * query fields that can be selected.
   */
  columns?: string;
}

export interface HistoryAodrParams {
  /**
   * The time of the assessment, in ISO 8601 UTC format with millisecond precision.
   * (YYYY-MM-DDTHH:MM:SS.sssZ)
   */
  assmtTime: string;

  /**
   * optional, fields for retrieval. When omitted, ALL fields are assumed. See the
   * queryhelp operation (/udl/&lt;datatype&gt;/queryhelp) for more details on valid
   * query fields that can be selected.
   */
  columns?: string;

  firstResult?: number;

  maxResults?: number;

  /**
   * optional, notification method for the created file link. When omitted, EMAIL is
   * assumed. Current valid values are: EMAIL, SMS.
   */
  notification?: string;

  /**
   * optional, field delimiter when the created file is not JSON. Must be a single
   * character chosen from this set: (',', ';', ':', '|'). When omitted, "," is used.
   * It is strongly encouraged that your field delimiter be a character unlikely to
   * occur within the data.
   */
  outputDelimiter?: string;

  /**
   * optional, output format for the file. When omitted, JSON is assumed. Current
   * valid values are: JSON and CSV.
   */
  outputFormat?: string;
}

export interface HistoryCountParams {
  /**
   * The time of the assessment, in ISO 8601 UTC format with millisecond precision.
   * (YYYY-MM-DDTHH:MM:SS.sssZ)
   */
  assmtTime: string;

  firstResult?: number;

  maxResults?: number;
}

export declare namespace History {
  export {
    type HistoryListResponse as HistoryListResponse,
    type HistoryCountResponse as HistoryCountResponse,
    type HistoryListResponsesOffsetPage as HistoryListResponsesOffsetPage,
    type HistoryListParams as HistoryListParams,
    type HistoryAodrParams as HistoryAodrParams,
    type HistoryCountParams as HistoryCountParams,
  };
}
