// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { OffsetPage, type OffsetPageParams, PagePromise } from '../../core/pagination';
import { buildHeaders } from '../../internal/headers';
import { RequestOptions } from '../../internal/request-options';

export class History extends APIResource {
  /**
   * Service operation to dynamically query historical data by a variety of query
   * parameters not specified in this API documentation. See the queryhelp operation
   * (/udl/&lt;datatype&gt;/queryhelp) for more details on valid/required query
   * parameter information.
   *
   * @example
   * ```ts
   * // Automatically fetches more pages as needed.
   * for await (const historyListResponse of client.closelyspacedobjects.history.list(
   *   { eventStartTime: '2019-12-27T18:11:19.117Z' },
   * )) {
   *   // ...
   * }
   * ```
   */
  list(
    query: HistoryListParams,
    options?: RequestOptions,
  ): PagePromise<HistoryListResponsesOffsetPage, HistoryListResponse> {
    return this._client.getAPIList('/udl/closelyspacedobjects/history', OffsetPage<HistoryListResponse>, {
      query,
      ...options,
    });
  }

  /**
   * Service operation to dynamically query historical data by a variety of query
   * parameters not specified in this API documentation, then write that data to the
   * Secure Content Store. See the queryhelp operation
   * (/udl/&lt;datatype&gt;/queryhelp) for more details on valid/required query
   * parameter information.
   *
   * @example
   * ```ts
   * await client.closelyspacedobjects.history.aodr({
   *   eventStartTime: '2019-12-27T18:11:19.117Z',
   * });
   * ```
   */
  aodr(query: HistoryAodrParams, options?: RequestOptions): APIPromise<void> {
    return this._client.get('/udl/closelyspacedobjects/history/aodr', {
      query,
      ...options,
      headers: buildHeaders([{ Accept: '*/*' }, options?.headers]),
    });
  }

  /**
   * Service operation to return the count of records satisfying the specified query
   * parameters. This operation is useful to determine how many records pass a
   * particular query criteria without retrieving large amounts of data. See the
   * queryhelp operation (/udl/&lt;datatype&gt;/queryhelp) for more details on
   * valid/required query parameter information.
   *
   * @example
   * ```ts
   * const response =
   *   await client.closelyspacedobjects.history.count({
   *     eventStartTime: '2019-12-27T18:11:19.117Z',
   *   });
   * ```
   */
  count(query: HistoryCountParams, options?: RequestOptions): APIPromise<string> {
    return this._client.get('/udl/closelyspacedobjects/history/count', {
      query,
      ...options,
      headers: buildHeaders([{ Accept: 'text/plain' }, options?.headers]),
    });
  }
}

export type HistoryListResponsesOffsetPage = OffsetPage<HistoryListResponse>;

/**
 * This collection of services provides operations for manipulating and querying of
 * closely spaced objects (on orbit) operations including docking, rendezvous,
 * proximity and reporting of payload zone engagements observed and characterized
 * over a period of time.
 */
export interface HistoryListResponse {
  /**
   * Classification marking of the data in IC/CAPCO Portion-marked format.
   */
  classificationMarking: string;

  /**
   * Indicates the current state that characterizes Closely Spaced Objects (CSO)
   * analysis steps and conclusions. Values include: ACTIVE, ACTUAL, CANCELED,
   * CLOSED, COMPLETED, DETECTED, INDICATED, PENDING, PLANNED, POSSIBLE, PREDICTED,
   * SEPARATED, UPDATED.
   */
  csoState: string;

  /**
   * Indicator of whether the data is REAL, TEST, EXERCISE, or SIMULATED data:
   *
   * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
   * events, and analysis.
   *
   * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
   * requirements, and for validating technical, functional, and performance
   * characteristics.
   *
   * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
   * may include both real and simulated data.
   *
   * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
   * datasets.
   */
  dataMode: 'REAL' | 'TEST' | 'SIMULATED' | 'EXERCISE';

  /**
   * Timestamp representing the events start time in ISO 8601 UTC format with
   * millisecond precision.
   */
  eventStartTime: string;

  /**
   * The type of event associated with this record. Values include: DOCK, UNDOCK,
   * SEPARATION, RENDEZVOUS, PROXIMITY, PEZ, WEZ.
   */
  eventType: string;

  /**
   * Source of the data.
   */
  source: string;

  /**
   * Unique identifier of the record, auto-generated by the system.
   */
  id?: string;

  /**
   * State vector epoch time of the actor satellite in ISO 8601 UTC format with
   * millisecond precision.
   */
  actorSVEpoch?: string;

  /**
   * Timespan of the rendezvous analysis in seconds.
   */
  analysisDuration?: number;

  /**
   * Epoch time of the beginning of the analysis period in ISO 8601 UTC format with
   * millisecond precision.
   */
  analysisEpoch?: string;

  /**
   * Computation type, values (e.g. PLANARALIGNMENT, LONGITUDE).
   */
  compType?: string;

  /**
   * An optional string array containing additional data (keys) representing relevant
   * items for context of fields not specifically defined in this schema. This array
   * is paired with the contextValues string array and must contain the same number
   * of items. Please note these fields are intended for contextual use only and do
   * not pertain to core schema information. To ensure proper integration and avoid
   * misuse, coordination of how these fields are populated and consumed is required
   * during onboarding.
   */
  contextKeys?: Array<string>;

  /**
   * An optional string array containing the values associated with the contextKeys
   * array. This array is paired with the contextKeys string array and must contain
   * the same number of items. Please note these fields are intended for contextual
   * use only and do not pertain to core schema information. To ensure proper
   * integration and avoid misuse, coordination of how these fields are populated and
   * consumed is required during onboarding.
   */
  contextValues?: Array<string>;

  /**
   * Time the row was created in the database, auto-populated by the system.
   */
  createdAt?: string;

  /**
   * Application user who created the row in the database, auto-populated by the
   * system.
   */
  createdBy?: string;

  /**
   * A collection of orbital metrics for the event at the start and end times, and
   * the mean values of the primary and secondary objects, as well as the deltas
   * between the primary and secondary objects.
   */
  csoDetails?: Array<HistoryListResponse.CsoDetail>;

  /**
   * The tolerance value for the DeltaV, in kilometers per second.
   */
  deltaVTol?: number;

  /**
   * The threshold of the event duration in seconds.
   */
  durationThreshold?: number;

  /**
   * Timestamp representing the events end time in ISO 8601 UTC format with
   * millisecond precision.
   */
  eventEndTime?: string;

  /**
   * Percentage of the event interval that is within the plane tolerance specified as
   * a percent value between 0 and 100.
   */
  eventIntervalCoverage?: number;

  /**
   * Unique identifier of the record from the originating system. This field has no
   * meaning within UDL and is provided as a convenience for systems that require
   * tracking of an internal system generated ID.
   */
  extId?: string;

  /**
   * The Hohmann DeltaV (kilometers per second) is the minimum delta velocity for the
   * in-plane orbit change. The in-plane maneuvers change the semi-major axis
   * (perigee and/or apogee). It is the minimum assuming two maneuvers; a lower delta
   * velocity is possible with bi-elliptic transfers involving three maneuvers.
   */
  hohmannDeltaV?: number;

  /**
   * Optional ID of the UDL State Vector at epoch time of the actor satellite. When
   * performing a create, this id will be ignored in favor of the UDL generated id of
   * the actor state vector.
   */
  idActorSV?: string;

  /**
   * Unique identifier of the primary satellite on-orbit object, if correlated. For
   * rendezvous and proximity operations, this is the target on-orbit object. When
   * the secondary object is on the rendezvous capable list, this can be any object.
   */
  idOnOrbit1?: string;

  /**
   * Unique identifier of the secondary satellite on-orbit object, if correlated. For
   * rendezvous and proximity operations, this is the actor. When the primary object
   * is a satellite being protected on the neighborhood watch list (NWL), this can be
   * any object encroaching on the primary.
   */
  idOnOrbit2?: string;

  /**
   * Optional ID of the UDL State Vector at epoch time of the target satellite. When
   * performing a create, this id will be ignored in favor of the UDL generated id of
   * the target state vector.
   */
  idTargetSV?: string;

  /**
   * The Inclination DeltaV is the minimum delta velocity for the out-of-plane
   * change, assuming alignment of the right ascensions measured in kilometers per
   * second.
   */
  inclinationDeltaV?: number;

  /**
   * Identifies the source of the indication, if the latest event info was manually
   * input, not computed.
   */
  indicationSource?: string;

  /**
   * The tolerance value for the longitude in degrees.
   */
  lonTol?: number;

  /**
   * Maximum range (apogee and perigee differences) within the event interval
   * measured in kilometers.
   */
  maxRange?: number;

  /**
   * Minimum angle between the target's position and the projection of the actor's
   * position into the target's nominal orbit plane over the event interval measured
   * in degrees.
   */
  minPlaneSepAngle?: number;

  /**
   * Epoch time of the minimum in-plane separation angle occurrence in ISO 8601 UTC
   * format with millisecond precision.
   */
  minPlaneSepEpoch?: string;

  /**
   * Minimum range (apogee and perigee differences) within the event interval
   * measured in kilometers.
   */
  minRange?: number;

  /**
   * Timespan of satellites within the range tolerance in seconds.
   */
  minRangeAnalysisDuration?: number;

  /**
   * Epoch time of the minimum range occurrence in ISO 8601 UTC format with
   * millisecond precision.
   */
  minRangeEpoch?: string;

  /**
   * Contains other descriptive information associated with an indicated event.
   */
  notes?: string;

  /**
   * The number of oscillations within the event interval which are within the plane
   * tolerance.
   */
  numSubIntervals?: number;

  /**
   * The change in angle between the angular momentum vectors between the actor and
   * target relative to plane orientation in degrees.
   */
  orbitAlignDel?: number;

  /**
   * The tolerance value for the difference in the orbital plane measured in degrees.
   */
  orbitPlaneTol?: number;

  /**
   * Originating system or organization which produced the data, if different from
   * the source. The origin may be different than the source if the source was a
   * mediating system which forwarded the data on behalf of the origin system. If
   * null, the source may be assumed to be the origin.
   */
  origin?: string;

  /**
   * The originating source network on which this record was created, auto-populated
   * by the system.
   */
  origNetwork?: string;

  /**
   * Optional place holder for an OnOrbit ID that does not exist in UDL.
   */
  origObjectId1?: string;

  /**
   * Optional place holder for an OnOrbit ID that does not exist in UDL.
   */
  origObjectId2?: string;

  /**
   * The threshold of the event range in kilometers.
   */
  rangeThreshold?: number;

  /**
   * The tolerance value for the range in kilometers.
   */
  rangeTol?: number;

  /**
   * Indicates the relative position vector of the event occurrence measured in
   * kilometers.
   */
  relPos?: Array<number>;

  /**
   * Range of closest approach: relative position magnitude, in kilometers, of the
   * difference in the physical position between the actor and target objects.
   */
  relPosMag?: number;

  /**
   * Indicates the closure rate specified as a relative velocity magnitude in
   * kilometers per second of the difference in the velocities between the actor and
   * target objects.
   */
  relSpeedMag?: number;

  /**
   * Indicates the relative velocity vector of the event occurrence measured in
   * kilometers per second.
   */
  relVel?: Array<number>;

  /**
   * Satellite/catalog number of the target on-orbit primary object.
   */
  satNo1?: number;

  /**
   * Satellite/catalog number of the target on-orbit secondary object.
   */
  satNo2?: number;

  /**
   * The source data library from which this record was received. This could be a
   * remote or tactical UDL or another data library. If null, the record should be
   * assumed to have originated from the primary Enterprise UDL.
   */
  sourceDL?: string;

  /**
   * The tolerance value for the optimal longitude for station-keeping in degrees.
   */
  stationLimLonTol?: number;

  /**
   * State vector epoch time of the target satellite in ISO 8601 UTC format with
   * millisecond precision.
   */
  targetSVEpoch?: string;

  /**
   * The Total DeltaV is the sum of the Hohmann and Inclination DeltaVs measured in
   * kilometers per second.
   */
  totalDeltaV?: number;
}

export namespace HistoryListResponse {
  /**
   * A collection of orbital metrics for the event at the start and end times, and
   * the mean values of the primary and secondary objects, as well as the deltas
   * between the primary and secondary objects.
   */
  export interface CsoDetail {
    /**
     * The type of object event the metrics apply. Values consist of START, END, MEAN.
     */
    objectEvent: string;

    /**
     * The type of the object for which the metrics apply. Values include PRIMARY,
     * SECONDARY, DELTA.
     */
    objectType: string;

    /**
     * Unique identifier of the record, auto-generated by the system.
     */
    id?: string;

    /**
     * The orbit point furthest from the center of the earth in kilometers.
     */
    apogee?: number;

    /**
     * Classification marking of the data in IC/CAPCO Portion-marked format.
     */
    classificationMarking?: string;

    /**
     * Indicator of whether the data is REAL, TEST, EXERCISE, or SIMULATED data:
     *
     * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
     * events, and analysis.
     *
     * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
     * requirements, and for validating technical, functional, and performance
     * characteristics.
     *
     * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
     * may include both real and simulated data.
     *
     * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
     * datasets.
     */
    dataMode?: 'REAL' | 'TEST' | 'SIMULATED' | 'EXERCISE';

    /**
     * Unique identifier of the parent CSO record, auto-populated by the system.
     */
    idCSO?: string;

    /**
     * The angle between the equator and the orbit when looking from the center of the
     * Earth in degrees from 0 to 180.
     */
    inclination?: number;

    /**
     * The longitude degree of the object measured in degrees from -180 to 180.
     */
    longitude?: number;

    /**
     * The orbit point nearest to the center of the earth in kilometers.
     */
    perigee?: number;
  }
}

export type HistoryCountResponse = string;

export interface HistoryListParams extends OffsetPageParams {
  /**
   * Timestamp representing the events start time in ISO 8601 UTC format with
   * millisecond precision. (YYYY-MM-DDTHH:MM:SS.sssZ)
   */
  eventStartTime: string;

  /**
   * optional, fields for retrieval. When omitted, ALL fields are assumed. See the
   * queryhelp operation (/udl/&lt;datatype&gt;/queryhelp) for more details on valid
   * query fields that can be selected.
   */
  columns?: string;
}

export interface HistoryAodrParams {
  /**
   * Timestamp representing the events start time in ISO 8601 UTC format with
   * millisecond precision. (YYYY-MM-DDTHH:MM:SS.sssZ)
   */
  eventStartTime: string;

  /**
   * optional, fields for retrieval. When omitted, ALL fields are assumed. See the
   * queryhelp operation (/udl/&lt;datatype&gt;/queryhelp) for more details on valid
   * query fields that can be selected.
   */
  columns?: string;

  firstResult?: number;

  maxResults?: number;

  /**
   * optional, notification method for the created file link. When omitted, EMAIL is
   * assumed. Current valid values are: EMAIL, SMS.
   */
  notification?: string;

  /**
   * optional, field delimiter when the created file is not JSON. Must be a single
   * character chosen from this set: (',', ';', ':', '|'). When omitted, "," is used.
   * It is strongly encouraged that your field delimiter be a character unlikely to
   * occur within the data.
   */
  outputDelimiter?: string;

  /**
   * optional, output format for the file. When omitted, JSON is assumed. Current
   * valid values are: JSON and CSV.
   */
  outputFormat?: string;
}

export interface HistoryCountParams {
  /**
   * Timestamp representing the events start time in ISO 8601 UTC format with
   * millisecond precision. (YYYY-MM-DDTHH:MM:SS.sssZ)
   */
  eventStartTime: string;

  firstResult?: number;

  maxResults?: number;
}

export declare namespace History {
  export {
    type HistoryListResponse as HistoryListResponse,
    type HistoryCountResponse as HistoryCountResponse,
    type HistoryListResponsesOffsetPage as HistoryListResponsesOffsetPage,
    type HistoryListParams as HistoryListParams,
    type HistoryAodrParams as HistoryAodrParams,
    type HistoryCountParams as HistoryCountParams,
  };
}
