// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../resource';
import * as Core from '../../core';

export class Surfaceobstructions extends APIResource {
  /**
   * Service operation to take multiple surfaceobstruction records as a POST body and
   * ingest into the database. This operation is intended to be used for automated
   * feeds into UDL. A specific role is required to perform this service operation.
   * Please contact the UDL team for assistance.
   */
  create(body: SurfaceobstructionCreateParams, options?: Core.RequestOptions): Core.APIPromise<void> {
    return this._client.post('/filedrop/udl-surfaceobstruction', {
      body,
      ...options,
      headers: { Accept: '*/*', ...options?.headers },
    });
  }
}

export type SurfaceobstructionCreateParams = Array<SurfaceobstructionCreateParams.Body>;

export namespace SurfaceobstructionCreateParams {
  export interface Body {
    /**
     * Classification marking of the data in IC/CAPCO Portion-marked format.
     */
    classificationMarking: string;

    /**
     * Indicator of whether the data is REAL, TEST, SIMULATED, or EXERCISE data.
     */
    dataMode: string;

    /**
     * The unique identifier of the associated surface record. This field is required
     * when posting, updating, or deleting a SurfaceObstruction record.
     */
    idSurface: string;

    /**
     * Source of the data.
     */
    source: string;

    /**
     * Unique identifier of the record, auto-generated by the system.
     */
    id?: string;

    /**
     * Array of all vehicles that are affected by this obstruction at the surface
     * end-point, and require an advisory for usage.
     */
    advisoryRequired?: Array<string>;

    /**
     * Array of all vehicles that are affected by this obstruction at the surface
     * end-point, and require an approval for usage.
     */
    approvalRequired?: Array<string>;

    /**
     * Time the row was created in the database, auto-populated by the system.
     */
    createdAt?: string;

    /**
     * Application user who created the row in the database, auto-populated by the
     * system.
     */
    createdBy?: string;

    /**
     * The distance from the surface center line to this obstruction, in feet.
     */
    distanceFromCenterLine?: number;

    /**
     * The distance from the surface edge to this obstruction, in feet.
     */
    distanceFromEdge?: number;

    /**
     * The distance from the surface threshold to this obstruction, in feet.
     */
    distanceFromThreshold?: number;

    /**
     * The unique identifier of the associated NavigationalObstruction record.
     */
    idNavigationalObstruction?: string;

    /**
     * Description of this surface obstruction.
     */
    obstructionDesc?: string;

    /**
     * The height above ground level of the surface obstruction, in feet.
     */
    obstructionHeight?: number;

    /**
     * A code that indicates which side of the surface end is affected by this
     * obstruction.
     */
    obstructionSideCode?: string;

    /**
     * Originating system or organization which produced the data, if different from
     * the source. The origin may be different than the source if the source was a
     * mediating system which forwarded the data on behalf of the origin system. If
     * null, the source may be assumed to be the origin.
     */
    origin?: string;

    /**
     * The originating source network on which this record was created, auto-populated
     * by the system.
     */
    origNetwork?: string;

    /**
     * The source data library from which this record was received. This could be a
     * remote or tactical UDL or another data library. If null, the record should be
     * assumed to have originated from the primary Enterprise UDL.
     */
    sourceDL?: string;

    /**
     * WGS-84 latitude of the coordinate representing the end-point of a surface, in
     * degrees. -90 to 90 degrees (negative values south of equator).
     */
    surfaceEndLat?: number;

    /**
     * WGS-84 longitude of the coordinate representing the end-point of a surface, in
     * degrees. -180 to 180 degrees (negative values west of Prime Meridian).
     */
    surfaceEndLon?: number;
  }
}

export declare namespace Surfaceobstructions {
  export { type SurfaceobstructionCreateParams as SurfaceobstructionCreateParams };
}
