// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { buildHeaders } from '../../internal/headers';
import { RequestOptions } from '../../internal/request-options';

export class UdlH3geo extends APIResource {
  /**
   * Service operation to take a single H3Geo record and many associated H3Geo hex
   * cell records as a POST body and ingest into the database. This operation is
   * intended to be used for automated feeds into UDL. A specific role is required to
   * perform this service operation. Please contact the UDL team for assistance.
   *
   * @example
   * ```ts
   * await client.reportAndActivities.udlH3geo.unvalidatedPublish(
   *   {
   *     cells: [
   *       {
   *         cellId: '830b90fffffffff',
   *         classificationMarking: 'U',
   *         dataMode: 'TEST',
   *         source: 'Bluestaq',
   *       },
   *     ],
   *     classificationMarking: 'U',
   *     dataMode: 'TEST',
   *     numCells: 1,
   *     source: 'Bluestaq',
   *     startTime: '2024-07-02T00:00:00.123Z',
   *   },
   * );
   * ```
   */
  unvalidatedPublish(body: UdlH3geoUnvalidatedPublishParams, options?: RequestOptions): APIPromise<void> {
    return this._client.post('/filedrop/udl-h3geo', {
      body,
      ...options,
      headers: buildHeaders([{ Accept: '*/*' }, options?.headers]),
    });
  }
}

export interface UdlH3geoUnvalidatedPublishParams {
  /**
   * The collection of hex cells contained in this H3 data set. The number of cells
   * is a function of the specified resolution.
   */
  cells: Array<UdlH3geoUnvalidatedPublishParams.Cell>;

  /**
   * Classification marking of the data in IC/CAPCO Portion-marked format.
   */
  classificationMarking: string;

  /**
   * Indicator of whether the data is EXERCISE, REAL, SIMULATED, or TEST data:
   *
   * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
   * may include both real and simulated data.
   *
   * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
   * events, and analysis.
   *
   * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
   * datasets.
   *
   * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
   * requirements, and for validating technical, functional, and performance
   * characteristics.
   */
  dataMode: 'REAL' | 'TEST' | 'SIMULATED' | 'EXERCISE';

  /**
   * The number of cells associated with this H3 Geo data set. At this time, UDL
   * supports up to 50,000 cells.
   */
  numCells: number;

  /**
   * Source of the data.
   */
  source: string;

  /**
   * Start time for this H3 Geo data set in ISO 8601 UTC with millisecond precision.
   */
  startTime: string;

  /**
   * Unique identifier of the record, auto-generated by the system.
   */
  id?: string;

  /**
   * The center frequency of this H3 Geo data set measured in megahertz.
   */
  centerFreq?: number;

  /**
   * End time for this H3 Geo data set in ISO 8601 UTC with millisecond precision.
   */
  endTime?: string;

  /**
   * Originating system or organization which produced the data, if different from
   * the source. The origin may be different than the source if the source was a
   * mediating system which forwarded the data on behalf of the origin system. If
   * null, the source may be assumed to be the origin.
   */
  origin?: string;

  /**
   * H3 resolution (0 – 15) for the data set. At this time, UDL supports a resolution
   * of 3 or less.
   */
  resolution?: number;

  /**
   * Optional array of provider/source specific tags for this data, where each
   * element is no longer than 32 characters, used for implementing data owner
   * conditional access controls to restrict access to the data. Should be left null
   * by data providers unless conditional access controls are coordinated with the
   * UDL team.
   */
  tags?: Array<string>;

  /**
   * An optional field containing the type of data that is represented by this H3 Geo
   * data set.
   */
  type?: string;
}

export namespace UdlH3geoUnvalidatedPublishParams {
  /**
   * Model representation of a hex cell array containing data for a set of
   * observations.
   */
  export interface Cell {
    /**
     * The H3 index represented as a 16 character hexadecimal string.
     */
    cellId: string;

    /**
     * Classification marking of the data in IC/CAPCO Portion-marked format.
     */
    classificationMarking: string;

    /**
     * Indicator of whether the data is EXERCISE, REAL, SIMULATED, or TEST data:
     *
     * EXERCISE:&nbsp;Data pertaining to a government or military exercise. The data
     * may include both real and simulated data.
     *
     * REAL:&nbsp;Data collected or produced that pertains to real-world objects,
     * events, and analysis.
     *
     * SIMULATED:&nbsp;Synthetic data generated by a model to mimic real-world
     * datasets.
     *
     * TEST:&nbsp;Specific datasets used to evaluate compliance with specifications and
     * requirements, and for validating technical, functional, and performance
     * characteristics.
     */
    dataMode: 'REAL' | 'TEST' | 'SIMULATED' | 'EXERCISE';

    /**
     * Source of the data.
     */
    source: string;

    /**
     * Unique identifier of the record, auto-generated by the system.
     */
    id?: string;

    /**
     * The mean altitude of the set of observations within this cell, measured in
     * kilometers.
     */
    altMean?: number;

    /**
     * The standard deviation of alttitude in the set of observations within this cell,
     * measured in kilometers.
     */
    altSigma?: number;

    /**
     * The anomaly score for probable manufactured interference or RF interference;
     * calculated as a ratio of #anomalous obs / #total obs or coverage.
     */
    anomScoreInterference?: number;

    /**
     * The anomaly score for probable spoofing; calculated as a ratio of #anomalous obs
     * / #total obs or coverage.
     */
    anomScoreSpoofing?: number;

    /**
     * The percentage degree of change in the aggregated observables for a particular
     * H3 bin.
     */
    changeScore?: number;

    /**
     * The total number of available observations in the H3 cell during the start/end
     * times.
     */
    coverage?: number;

    /**
     * Unique identifier of the parent H3 Geo record containing this hex cell.
     */
    idH3Geo?: string;

    /**
     * Originating system or organization which produced the data, if different from
     * the source. The origin may be different than the source if the source was a
     * mediating system which forwarded the data on behalf of the origin system. If
     * null, the source may be assumed to be the origin.
     */
    origin?: string;

    /**
     * The max received power monitor (RPM) output value for the set of data contained
     * within this cell.
     */
    rpmMax?: number;

    /**
     * The mean received power monitor (RPM) output value for the set of data contained
     * within this cell.
     */
    rpmMean?: number;

    /**
     * The median received power monitor (RPM) output value for the set of data
     * contained within this cell.
     */
    rpmMedian?: number;

    /**
     * The min received power monitor (RPM) output value for the set of data contained
     * within this cell.
     */
    rpmMin?: number;

    /**
     * The standard deviation of the received power monitor (RPM) output value for the
     * set of data contained within this cell.
     */
    rpmSigma?: number;
  }
}

export declare namespace UdlH3geo {
  export { type UdlH3geoUnvalidatedPublishParams as UdlH3geoUnvalidatedPublishParams };
}
